<%= form_for @register do |f| %>

<fieldset>
    <legend>Fill your Details, Tick the events to register in and Click Register button (Only team leader details required for team event registration)</legend>
	
<div class="row">
  <div class="large-12 columns"><%= f.label :name %><br />
  <%= f.text_field :name, :required => true %></div>
  </div>
</div>
<div class="row">
  <div class="large-12 columns"><%= f.label "College Name" %><br />
  <%= f.text_field :college_name, :required => true %></div>
  </div>
</div>

<div class="row">
  <div class="large-6 columns"><%= f.label :email %><br />
  <%= f.text_field :email, :required => true %></div>

  <div class="large-6 columns"><%= f.label :phone %><br />
  <%= f.text_field :phone, :required => true %></div>
</div>

<div class="row ">
  <div class="large-12 columns"><%= f.label :Accomodation %><br />
  <%= f.check_box :two %><%= f.label :two, "2 days" %><t /><t /><%= f.check_box :three %><%= f.label :three, "3 days" %></div>
</div>

</fieldset>


  
  <!--THE IMAGES ARE PLACED IN AN UNORDERED LIST-->
<ul class="enlarge"> <!--We give the list a class so that we can style it seperately from other unordered lists-->
<!--First Image-->
<div class="row event-section">
<div class="text-center"> <h4>Fashion Events</h4></div>
<li>
<%= f.check_box :diwa %>
<a href="http://exodia.in/attractions/" target="_blank"><img src="http://i.imgur.com/uixrFBO.jpg" width="150px" height="100px" alt="Miss Diva" /></a> <!--thumbnail image-->
<span> <!--span contains the popup image-->
<img src="http://i.imgur.com/uixrFBO.jpg" alt="Miss Diva" /> <!--popup image-->
<br />Miss Diva <!--caption appears under the popup image-->
</span>
</li>

<li>
<%= f.check_box :couture %>
<a href="http://exodia.in/attractions/" target="_blank"><img src="http://i.imgur.com/uixrFBO.jpg" width="150px" height="100px" alt="Couture" /></a> <!--thumbnail image-->
<span> <!--span contains the popup image-->
<img src="http://i.imgur.com/uixrFBO.jpg" alt="Couture" /> <!--popup image-->
<br />Couture <!--caption appears under the popup image-->
</span>
</li>

<li>
<%= f.check_box :mrmiss %>
<a href="http://exodia.in/attractions/" target="_blank"><img src="http://i.imgur.com/uixrFBO.jpg" width="150px" height="100px" alt="Mr & Miss Exodia" /></a> <!--thumbnail image-->
<span> <!--span contains the popup image-->
<img src="http://i.imgur.com/uixrFBO.jpg" alt="Mr & Miss Exodia" /> <!--popup image-->
<br />Mr & Miss Exodia <!--caption appears under the popup image-->
</span>
</li>


<div class="row event-section">
<div class="text-center"> <h4>Cultural Events</h4></div>
<li>
<%= f.check_box :instrumania %>
<a href="http://exodia.in/events/Instrumania/" target="_blank"><img src="http://i.imgur.com/uixrFBO.jpg" width="150px" height="100px" alt="Instrumania" /></a> <!--thumbnail image-->
<span> <!--span contains the popup image-->
<img src="http://i.imgur.com/uixrFBO.jpg" alt="Instrumania" /> <!--popup image-->
<br />Instrumania <!--caption appears under the popup image-->
</span>
</li>
<li>
<%= f.check_box :bandslam %>
<a href="http://exodia.in/events/bandslam/" target="_blank"><img src="http://i.imgur.com/FAtKw2S.jpg" width="150px" height="100px" alt="BandSlam" /></a> <!--thumbnail image-->
<span> <!--span contains the popup image-->
<img src="http://i.imgur.com/FAtKw2S.jpg" alt="BandSlam" /> <!--popup image-->
<br />BandSlam <!--caption appears under the popup image-->
</span>
</li>

<!--Second Image-->
<li>
<%= f.check_box :idol %>
<a href="http://exodia.in/events/exodiaidol/" target="_blank"><img src="http://i.imgur.com/V2HSTvv.jpg" width="150px" height="100px" alt="Exodia Idol" /></a> <!--thumbnail image-->
<span> <!--span contains the popup image-->
<img src="http://i.imgur.com/V2HSTvv.jpg" alt="Exodia Idol" /> <!--popup image-->
<br />Exodia Idol <!--caption appears under the popup image-->
</span>
</li>
<!--Third Image-->
<li>
<div><%= f.check_box :groove %>
<a href="http://exodia.in/events/groovefanatics/" target="_blank"><img src="http://i.imgur.com/kGagcZt.jpg" width="150px" height="100px" alt="Groove Fanatics" /></a> <!--thumbnail image-->
<span> <!--span contains the popup image-->
<img src="http://i.imgur.com/kGagcZt.jpg" alt="Groove Fanatics" /> <!--popup image-->
<br />Groove Fanatics <!--caption appears under the popup image-->
</span>
</li>

<li>
<%= f.check_box :synchronians %>
<a href="http://exodia.in/events/synchronians/" target="_blank"><img src="http://i.imgur.com/qLC1Ycl.jpg" width="150px" height="100px" alt="Synchronians" /></a> <!--thumbnail image-->
<span> <!--span contains the popup image-->
<img src="http://i.imgur.com/qLC1Ycl.jpg" alt="Synchronians" /> <!--popup image-->
<br />Synchronians <!--caption appears under the popup image-->
</span>
</li>

<li>
<%= f.check_box :bigstink %>
<a href="http://exodia.in/events/bigstink/" target="_blank"><img src="http://i.imgur.com/savzDDy.jpg" width="150px" height="100px" alt="Big Stink" /></a> <!--thumbnail image-->
<span> <!--span contains the popup image-->
<img src="http://i.imgur.com/savzDDy.jpg" alt="Big Stink" /> <!--popup image-->
<br />Big Stink<!--caption appears under the popup image-->
</span>
</li>
</div>

<div class="row event-section">
<div class="text-center"> <h4>Technical Events</h4></div>
<li>
<%= f.check_box :apptitude %>
<a href="http://exodia.in/events/apptitude/" target="_blank"><img src="http://i.imgur.com/ogQ0wlK.jpg" width="150px" height="100px" alt="APPtitude" /></a> <!--thumbnail image-->
<span> <!--span contains the popup image-->
<img src="http://i.imgur.com/ogQ0wlK.jpg" alt="APPtitude" /> <!--popup image-->
<br />APPtitude<!--caption appears under the popup image-->
</span>
</li>

<li>
<%= f.check_box :wut %>
<a href="http://exodia.in/events/troy/" target="_blank"><img src="http://i.imgur.com/SPIHKYq.jpg" width="150px" height="100px" alt="Wind-up-troy" /></a> <!--thumbnail image-->
<span> <!--span contains the popup image-->
<img src="http://i.imgur.com/SPIHKYq.jpg" alt="Wind-up-troy" /> <!--popup image-->
<br />Wind-up-troy <!--caption appears under the popup image-->
</span>
</li>

<li>
<%= f.check_box :junkyard %>
<a href="http://exodia.in/events/junkyardwars/" target="_blank"><img src="http://i.imgur.com/bv8cbxq.jpg" width="150px" height="100px" alt="Junkyard Wars" /></a> <!--thumbnail image-->
<span> <!--span contains the popup image-->
<img src="http://i.imgur.com/bv8cbxq.jpg" alt="Junkyard Wars" /> <!--popup image-->
<br />Junkyard Wars<!--caption appears under the popup image-->
</span>
</li>

<li>
<%= f.check_box :dis %>
<a href="http://exodia.in/events/discover/" target="_blank"><img src="http://i.imgur.com/CuDI1Fq.jpg" width="150px" height="100px" alt="Discover Image Science" /></a> <!--thumbnail image-->
<span> <!--span contains the popup image-->
<img src="http://i.imgur.com/CuDI1Fq.jpg" alt="Discover Image Science" /> <!--popup image-->
<br />Discover Image Science<!--caption appears under the popup image-->
</span>
</li>

<li>
<%= f.check_box :thesis %>
<a href="http://exodia.in/events/quickthesis/" target="_blank"><img src="http://i.imgur.com/8q7D5vK.jpg" width="150px" height="100px" alt="Quick Thesis" /></a> <!--thumbnail image-->
<span> <!--span contains the popup image-->
<img src="http://i.imgur.com/8q7D5vK.jpg" alt="Quick Thesis" /> <!--popup image-->
<br />Quick Thesis<!--caption appears under the popup image-->
</span>
</li>

<li>
<%= f.check_box :electrowar %>
<a href="http://exodia.in/events/electrowar/" target="_blank"><img src="http://i.imgur.com/8vdgF7D.jpg" width="150px" height="100px" alt="Electrowar" /> </a> <!--thumbnail image-->
<span> <!--span contains the popup image-->
<img src="http://i.imgur.com/8vdgF7D.jpg" alt="Electrowar" /> <!--popup image-->
<br />Electrowar<!--caption appears under the popup image-->
</span>
</li>

<li>
<%= f.check_box :circuit %>
<a href="http://exodia.in/events/circuithunt/" target="_blank"><img src="http://i.imgur.com/FvhtAdf.jpg" width="150px" height="100px" alt="Circuit Hunt" /></a> <!--thumbnail image-->
<span> <!--span contains the popup image-->
<img src="http://i.imgur.com/FvhtAdf.jpg" alt="Circuit Hunt" /> <!--popup image-->
<br />Circuit Hunt<!--caption appears under the popup image-->
</span>
</li>


<li>
<%= f.check_box :dtoe %>
<a href="http://exodia.in/events/decodetoencode/" target="_blank"><img src="http://i.imgur.com/A0cb2MW.jpg" width="150px" height="100px" alt="Decode to Encode" /></a> <!--thumbnail image-->
<span> <!--span contains the popup image-->
<img src="http://i.imgur.com/A0cb2MW.jpg" alt="Decode to Encode" /> <!--popup image-->
<br />Decode to Encode <!--caption appears under the popup image-->
</span>
</li>

<li>
<%= f.check_box :coalf %>
<a href="http://exodia.in/events/clashofavatarslinefollowers/" target="_blank"><img src="http://i.imgur.com/TVZCmCz.jpg" width="150px" height="100px" alt="COA-Line Follower" /></a> <!--thumbnail image-->
<span> <!--span contains the popup image-->
<img src="http://i.imgur.com/TVZCmCz.jpg" alt="COA-Line Follower" /> <!--popup image-->
<br />COA-Line Follower<!--caption appears under the popup image-->
</span>
</li>

<li>
<%= f.check_box :coasw %>
<a href="http://exodia.in/events/clashofavatarssumo/" target="_blank"><img src="http://i.imgur.com/cPRwsDv.jpg" width="150px" height="100px" alt="COA-Sumo Wars" /></a> <!--thumbnail image-->
<span> <!--span contains the popup image-->
<img src="http://i.imgur.com/cPRwsDv.jpg" alt="COA-Sumo Wars" /> <!--popup image-->
<br />Clash of Avatars-Sumo Wars<!--caption appears under the popup image-->
</span>
</li>

<li>
<%= f.check_box :arcade %>
<a href="http://exodia.in/events/arcad/" target="_blank"><img src="http://i.imgur.com/H54CR08.jpg" width="150px" height="100px" alt="arCAD" /></a> <!--thumbnail image-->
<span> <!--span contains the popup image-->
<img src="http://i.imgur.com/H54CR08.jpg" alt="arCAD" /> <!--popup image-->
<br />arCAD<!--caption appears under the popup image-->
</span>
</li>

<li>
<%= f.check_box :nitro %>
<a href="http://exodia.in/events/nitroblaze/" target="_blank"><img src="http://i.imgur.com/yPBp2aD.jpg" width="150px" height="100px" alt="Nitro Blaze" /></a> <!--thumbnail image-->
<span> <!--span contains the popup image-->
<img src="http://i.imgur.com/yPBp2aD.jpg" alt="Nitro Blaze" /> <!--popup image-->
<br />Nitro Blaze<!--caption appears under the popup image-->
</span>
</li>

<li>
<%= f.check_box :hover %>
<a href="http://exodia.in/events/hoverace/" target="_blank"><img src="http://i.imgur.com/2Qhq0Vn.jpg" width="150px" height="100px" alt="Hoverace" /></a> <!--thumbnail image-->
<span> <!--span contains the popup image-->
<img src="http://i.imgur.com/2Qhq0Vn.jpg" alt="Hoverace" /> <!--popup image-->
<br />Hoverace<!--caption appears under the popup image-->
</span>
</li>
</div>

<div class="row event-section">
<div class="text-center"> <h4>Literary Events</h4></div>
<li>
<%= f.check_box :liar %>
<a href="http://exodia.in/events/biggestliar/" target="_blank"><img src="http://i.imgur.com/IvN7h2S.jpg" width="150px" height="100px" alt="Biggest Liar" /></a> <!--thumbnail image-->
<span> <!--span contains the popup image-->
<img src="http://i.imgur.com/IvN7h2S.jpg" alt="Biggest Liar" /> <!--popup image-->
<br />Biggest Liar<!--caption appears under the popup image-->
</span>
</li>

<li>
<%= f.check_box :devil %>
<a href="http://exodia.in/events/devilsadvocate/" target="_blank"><img src="http://i.imgur.com/cDeX8dW.jpg" width="150px" height="100px" alt="Devil's Advocate" /></a> <!--thumbnail image-->
<span> <!--span contains the popup image-->
<img src="http://i.imgur.com/cDeX8dW.jpg" alt="Devil's Advocate" /> <!--popup image-->
<br />Devil's Advocate <!--caption appears under the popup image-->
</span>
</li>

<li>
<%= f.check_box :gow %>
<a href="http://exodia.in/events/gameofwords/" target="_blank"><img src="http://i.imgur.com/4jR1HCh.jpg" width="150px" height="100px" alt="Game of Words" /></a> <!--thumbnail image-->
<span> <!--span contains the popup image-->
<img src="http://i.imgur.com/4jR1HCh.jpg" alt="Game of Words" /> <!--popup image-->
<br />Game of Words <!--caption appears under the popup image-->
</span>
</li>

<li>
<%= f.check_box :survivor %>
<a href="http://exodia.in/events/survivor/" target="_blank"><img src="http://i.imgur.com/p1p05SU.jpg" width="150px" height="100px" alt="Survivor" /></a> <!--thumbnail image-->
<span> <!--span contains the popup image-->
<img src="http://i.imgur.com/p1p05SU.jpg" alt="Survivor" /> <!--popup image-->
<br />Survivor <!--caption appears under the popup image-->
</span>
</li>
</div>

<div class="row event-section">
<div class="text-center"> <h4>Gaming Events</h4></div>
<li>
<%= f.check_box :nfs %>
<a href="http://exodia.in/events/fray/" target="_blank"><img src="http://i.imgur.com/JFuqaCx.jpg" width="150px" height="100px" alt="FRAY" /></a> <!--thumbnail image-->
<span> <!--span contains the popup image-->
<img src="http://i.imgur.com/JFuqaCx.jpg" alt="FRAY" /> <!--popup image-->
<br />FRAY <!--caption appears under the popup image-->
</span>
</li>

<div class="text-center"><%= f.submit "Register", class: " register button [secondary success alert]" %>
</div>
</div>
<% end %>
